{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<div class="page-header">
  {% if object %}
    <h1>Edit</h1>
    <div>
    <p class="sub">Things change. Update you tone and emoji preference here. I will respond accordingly.</p>
  {% else %}
    <h1>Say Something</h1>
    <p class="sub">Choose your tone, your emoji preference, and start the conversation.</p>
  {% endif %}
</div>

<form method="post" action="{%url 'chat-create' %}" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Be Heard</button>
</form>
{% endblock %}
