{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>About Heard</h1>
</div>
<hr />
<div class="about-wrapper">
  <div class="about-content">
    
    <div class="about-inner">
      <img src="{% static 'images/sly_robot .svg' %}" alt="Sly Robot" class="sly-robot" />
      <p class="page-content no-dropcap">
        Heard is a soft signal bouncing back in your direction...
      </p>
    </div>
  </div>
</div>


  {% endblock %}


