{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>About Heard</h1>
</div>
<hr />
<div class="about-wrapper">
  <div class="about-content">
    
    <div class="about-inner">
      <img src="{% static 'images/sly_robot .svg' %}" alt="Sly Robot" class="sly-robot" />
      <p class="page-content no-dropcap">
        Heard isn't a chatbot. It won't solve your problems, offer productivity hacks, or flood you with advice. 
        <br><br>
        You write a message. Just a sentence. You choose a tone. You decide how expressive you want the response to be. Then Heard responds, once, with a voice of your choice. 
        <br><br>
        That's it. No conversation threads, no pressure. Just one flicker of recognition. A pause. A moment to feel heard.
      </p>
    </div>
  </div>
</div>


  {% endblock %}


