{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/chat-home.css' %}" />
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<section class="logo-container">
  <div class="chat-container">
    <img src="" alt="" class="" />
  </div>

  <div class="main-logo">
    <img src="" alt="" />
  </div>
</section>

<div class="page-header">
  <h1>Login</h1>
</div>

<form action="{% url 'home' %}" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="hidden" name="next" value="{{ next }}" />
  <button type="submit" class="btn submit">Let Me In</button>
</form>
{% endblock %}

