<section class="card-container">
    <div class="card">
      <div class="card-content">
        <div class="chat-details">
          <h1>Talk # {{ chat.id }}</h1>
          {% for entry in chat.entries.all %}
            <div class="message">
              <p><strong>You:</strong> {{ chat.initial_message }}</p>
              <p><strong>Bot:</strong> {{ entry.response }}</p>
              <p><em>{{ entry.date }}</em></p>
            </div>
            <hr>
          {% empty %}
            <p>No messages yet.</p>
          {% endfor %}
        </div>
        <a href="{% url 'chat-update' chat.id %}" class="btn warn">Edit</a>
        <a href="{% url 'chat-delete' chat.id %}" class="btn danger">Delete</a>
      </div>
    </div>
  </section>
  

