{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/chat-index.css' %}" />
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>Our Talks</h1>
  <img src="{% static 'images/star1.png' %}" alt="Star" />
  <img src="{% static 'images/star2.png' %}" alt="Star" />
  <img src="{% static 'images/star3.png' %}" alt="Star" />
</section>

<div class="chat-list">
  {% for chat in chats %}
    <div class="chat-summary">
      <h2>
        <a href="{% url 'chat-detail' chat.id %}">{{ chat.initial_message }}</a>
      </h2>

      {% if chat.entries.exists %}
        <p><strong>Response style:</strong> {{ chat.tone }}</p>
      {% endif %}

      <hr>
    </div>
  {% empty %}
    <p>No Talks Yet</p>
  {% endfor %}
</div>
{% endblock %}

